pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "gwmeta1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText6",
						"type": "DatasetReference",
						"parameters": {
							"gwcon": {
								"value": "@pipeline().parameters.gw_con",
								"type": "Expression"
							},
							"gwdir": {
								"value": "@pipeline().parameters.gw_ip",
								"type": "Expression"
							},
							"gwfile": {
								"value": "@pipeline().parameters.gw_file",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "gwmeta1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gwmeta1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'Sales')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline4",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"gw_con": {
				"type": "string",
				"defaultValue": "jagdatacontainer1"
			},
			"gw_ip": {
				"type": "string",
				"defaultValue": "Project1/input"
			},
			"gw_op": {
				"type": "string",
				"defaultValue": "Project1/output"
			},
			"gw_file": {
				"type": "string"
			}
		},
		"folder": {
			"name": "gwbrotask"
		},
		"annotations": []
	}
}