pipeline/pipeline2_copy1.json
{
	"name": "pipeline2_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "getmetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_container": {
										"value": "@pipeline().parameters.p_con",
										"type": "Expression"
									},
									"pp_input": {
										"value": "@pipeline().parameters.p_ip",
										"type": "Expression"
									},
									"pp_filename": {
										"value": "@item().name",
										"type": "Expression"
									},
									"pp_output": {
										"value": "@pipeline().parameters.p_op",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().name,'SAL')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "xlsx",
											"value": "false"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "txt",
											"value": "true"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_ip": {
				"type": "string",
				"defaultValue": "Project1/input"
			},
			"p_op": {
				"type": "string",
				"defaultValue": "Project1/Output"
			},
			"p_con": {
				"type": "string",
				"defaultValue": "jagdatacontainer1"
			},
			"p_archve": {
				"type": "string",
				"defaultValue": "Project1/Archive"
			}
		},
		"variables": {
			"txt": {
				"type": "String"
			},
			"xlsx": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Git_link"
		},
		"annotations": []
	}
}